html, button, input, select, textarea, body,
.pure-g [class *= "pure-u"],
.pure-g-r [class *= "pure-u"] {
  /* Set your content font stack here: */
  font-family: 'Open Sans', Helvetica, arial, freesans, clean, sans-serif;
}
body {
    background-color: #fff;
    line-height: 1.8;
    color: #222;
    font-weight: 300;
}
html, body{
    width: 100%;
    height: 100%;
}
h1, h2, h3, h4, h5{
  font-weight: normal;
}
#topmenu {
    width: 980px;
    margin: auto;
}

#topmenu ul {
    margin: 0;
    padding: 0;
    list-style-type: none;
}

#topmenu ul li {
    display: inline;
}

#header {
    background-color: #6c971e;
    padding: 1em 0;
    background-image: url("../images/headerbg.png");
    background-repeat: no-repeat;
    background-position-x: left center;
}

#footer {
    background-color: #464646;
    margin: 20px 0px 0px 0px;
    padding: 1em;
    color: white;
}

#container {
    margin: 0 auto;
    background-color: white;
    padding: 1em;
}

.highlight {
    background: #f9f9f9;
    border: 1px solid silver;
    border-radius: .375em;
    margin: 1em 0;
    padding: 0 1em;
    font-size: .85em;
}

.snippet {
    color: #50B600;
    font-family: Menlo, Consolas, "Courier New", Courier, "Liberation Mono", monospace;
    display: inline-block;
    white-space: pre;
}

a:link { color: #049DCE; }
a:visited { color: #049DCE; }
a:hover { color: #049DCE; }
a:active{ color: #049DCE; }


.page-container{
  max-width: 48em;
  margin: 0 auto;
}
.topbar{
  background-color: #fff;
}
