body {
    font-family: Helvetica, arial, freesans, clean, sans-serif;
    font-size: 12px;
    background-color: #ededed;
}

#topmenu {
    width: 980px;
    margin: auto;
}

#header {
    background-color: darkgreen;
    margin: 10px 0px;
    padding: 5px;
}

#innerHeader {
    width: 980px;
    margin: 0 auto;
}

#footer {
    background-color: darkgreen;
    margin: 10px 0px;
    padding: 5px;
}

#innerFooter {
    width: 980px;
    margin: 0 auto;
}

#container {
    width: 984px;
    margin: 0 auto;
    background-color: white;
    padding: 10px;
    box-shadow: 0 1px 6px 0 #c2c2c2;
    border-radius: 4px;
}

.highlight {
    background: #f9f9f9;
    border: 1px solid silver;
    margin: 10px 0;
    padding: 0 10px;
}

.snippet {
    color: #50B600;
    font-family: Menlo, Consolas, "Courier New", Courier, "Liberation Mono", monospace;
    display: inline-block;
    white-space: pre;
}

a:link { color: #049DCE; }
a:visited { color: #049DCE; }
a:hover { color: #049DCE; }
a:active{ color: #049DCE; }